</head>
<body>
  <nav>
		<i class="fas fa-solid fa-plane"></i> 
    <a 
      href="/flights/new" <%- title === 'Add Flights' ? 'class="active"' : '' %>
    >ADD Flight</a>
    <a 
      href="/flights" <%- title === 'All Flights' ? 'class="active"' : '' %>
    >ALL Flights</a>
    <a href="/meals/new" <%- title === 'Add Meal' ? 'class="active"' : ''%> >Add Meal</a>
  </nav>