<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/meals/new.css" />
<%- include('../partials/nav') %>

<main>
  <p>
    Please first ensure that the meal is not in the dropdown 
    <select>
      <% meals.forEach(meal => { %>
        <option><%= meal.name %></option>
      <% }) %>
    </select>
  </p>
  <form id="add-performer-form" action="/flights" method="post">
    <label for="name-input">Meal:</label>
    <input type="text" name="name" id="name-input">
    <button type="submit">Add Meal</button>
  </form>
</main>

<%- include('../partials/footer') %>